.gameButton {
  color: black;
  border-radius: 0;
  cursor: pointer;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1/1;
  max-width: 300px;
  min-width: 100px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  gap: 0.5rem;
}

h1 {
  text-align: center;
}
