.btn_game {
  color: #213580;
  cursor: pointer;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20%;
  background-color: #e0e0e0;
  width: 80px;
  height: 80px;
}

.btn_reset {
  font-family: 'Righteous', cursive;
  font-size: 1rem;
  padding: 5px 30px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  margin: auto;
}

.message {
  font-size: 1.75rem;
}

h1 {
  font-size: 2rem;
}

.playerWrapper {
  margin: 10px;
}

.player {
  display: inline-block;
  margin: 0 20px;
}

label {
  margin-right: 5px;
}

@media screen and (min-width: 769px) {
  .btn_game {
    color: #213580;
    cursor: pointer;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    border-radius: 20%;
    background-color: #e0e0e0;
    width: 120px;
    height: 120px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
    height: 370px;
    margin: auto;
  }
}
