@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  display: flex;
  text-align: center;
}

html {
  color: #213580;
  height: 100%;
  background-image: url(./img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
